<div{{ attributes }}>
    <header id="mainHeader" class="main-header">
        <div class="header-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.php"><img src="/assets/images/logo.png" alt=""></a>
                        </div>
                        <!-- Phone Menu button -->
                        <button id="menu" class="menu is-hidden-md-up"></button>
                    </div>
                    <div class="col-md-9">
                        <nav class="navigation">
                            <ul>
                                <li><a href="javascript:avoid(0);">Home</a>
                                    <i class="fa fa-plus is-hidden-sm-up"></i>
                                    <ul class="sub-nav">
                                        <li><a href="index.html">Homepage One</a></li>
                                        <li><a href="index-02.html">Homepage Two</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:avoid(0);">About</a> <i class="fa fa-plus is-hidden-sm-up"></i>
                                    <ul class="sub-nav">
                                        <li><a href="about-me.html">About Me</a></li>
                                        <li><a href="about-us.html">About Us</a></li>
                                    </ul>
                                </li>
                                <li><a href="workshops.html">Workshops</a></li>
                                <li><a href="javascript:avoid(0);">Services</a> <i class="fa fa-plus is-hidden-sm-up"></i>
                                    <ul class="sub-nav">
                                        <li><a href="services-01.html">Services One</a></li>
                                        <li><a href="services-02.html">Services Two</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:avoid(0);">Bolg</a> <i class="fa fa-plus is-hidden-sm-up"></i>
                                    <ul class="sub-nav">
                                        <li><a href="blog.html">Blog Posts</a></li>
                                        <li><a href="blog-single-standard.html">Post Standard</a></li>
                                        <li><a href="blog-single-gallery.html">Post Gallery</a></li>
                                        <li><a href="blog-single-youtube.html">Post Youtube</a></li>
                                        <li><a href="blog-single-vimeo.html">Post Vimeo</a></li>
                                        <li><a href="blog-single-soundcloud.html">Post Soundcloud</a></li>
                                        <li><a href="blog-single-quote.html">Post Quote</a></li>
                                        <li><a href="blog-single-video.html">Post Video</a></li>
                                        <li><a href="blog-single-audio.html">Post Audio</a></li>
                                        <li><a href="blog-single-map.html">Post Google Map</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:avoid(0);">Features</a> <i class="fa fa-plus is-hidden-sm-up"></i>
                                    <ul class="sub-nav">
                                        <li><a href="stories.html">Successful Stories</a></li>
                                        <li><a href="coaches.html">Coaches</a></li>
                                        <li><a href="coach-detail.html">Coach Detail</a></li>
                                        <li><a href="pricing-tables.html">Pricing Tables</a></li>
                                        <li><a href="testimonials.html">Testimonials</a></li>
                                        <li><a href="coming-soon.html">Coming Soon Page</a></li>
                                        <li><a href="faq.html">FAQ's</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact-01.html">Contact</a><i class="fa fa-plus is-hidden-sm-up"></i>
                                    <ul class="sub-nav">
                                        <li><a href="contact-01.html">Contact One</a></li>
                                        <li><a href="contact-02.html">Contact Two</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
