<div{{ attributes }}>
    <!-- Start Hero Area -->
    <section class="section hero-area" data-bg-img="/images/slider/01.jpg">
        <div class="hero-slider owl-carousel owl-controls-1" data-nav="true" data-loop="true" data-autoplay="true" data-smart-speed="1000" data-autoplay-timeout="10000">
            <div class="hero-slider-item" data-bg-img="/images/slider/01.jpg">
                <div class="hero-overlay">
                    <div class="hero-overlay-wrapper">
                        <div class="pos-tb-center hero-overlay-inner">
                            <div class="container">
                                <div class="row row-tb-20">
                                    <div class="col-md-8">
                                        <h1 class="t-uppercase mb-20 font-50">Hi, I’m John Doe <br> Your Health Advisor.</h1>
                                        <p class="mb-30 color-lighter h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus. Integer vel lorem tincidunt.</p>
                                        <a href="contact-01.html" class="btn btn-rounded btn-lg mb-20">Contact Me</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slider-item" data-bg-img="/images/slider/02.jpg">
                <div class="hero-overlay">
                    <div class="hero-overlay-wrapper">
                        <div class="pos-tb-center hero-overlay-inner">
                            <div class="container">
                                <div class="row row-tb-20">
                                    <div class="col-md-8">
                                        <h2 class="mb-10">Hi, I'am John Doe, I will tell you</h2>
                                        <h1 class="t-uppercase mb-20 font-50">the secret of happy <span class="color-theme">life</span></h1>
                                        <p class="mb-30 color-lighter h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus. Integer vel lorem tincidunt.</p>
                                        <a href="about-me.html" class="btn btn-rounded btn-lg mr-10 mb-20">About Me</a>
                                        <a href="contact-02.html" class="btn btn-rev btn-rounded btn-o btn-lg mb-20">Contact Me</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slider-item" data-bg-img="/images/slider/03.jpg">
                <div class="hero-overlay">
                    <div class="hero-overlay-wrapper">
                        <div class="pos-tb-center hero-overlay-inner">
                            <div class="container t-xs-center t-md-left">
                                <div class="row row-tb-20">
                                    <div class="col-md-8">
                                        <h2 class="mb-10">Hi, I’m John Doe. A Personal Mentor</h2>
                                        <h1 class="t-uppercase mb-30 font-50">Uncover the secrets of successful<span class="color-theme"> life</span></h1>
                                        <a href="about-me.html" class="btn btn-rounded btn-lg mr-10 mb-20">About Me</a>
                                        <a href="contact-01.html" class="btn btn-rev btn-rounded btn-o btn-lg mb-20">Contact Me</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slider-item" data-bg-img="/images/slider/04.jpg">
                <div class="hero-overlay">
                    <div class="hero-overlay-wrapper">
                        <div class="pos-tb-center hero-overlay-inner">
                            <div class="container">
                                <div class="row row-tb-20">
                                    <div class="col-md-8">
                                        <h1 class="t-uppercase mb-20 font-50">Restart your career <br> to be more <span class="color-theme">successful</span></h1>
                                        <p class="mb-30 color-lighter h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus. Integer vel lorem tincidunt.</p>
                                        <a href="contact-02.html" class="btn btn-rounded btn-lg mb-20">Contact Me</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->
</div>
