<div class="topbar bg-violet">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="topbar-info list-inline is-hidden-xs t-xs-center t-md-left">
                    <li class="prl-10">
                        <i class="fa fa-map-marker mr-10 font-16"></i>701 Shadow Ln, Las Vegas, NV 89106</li>
                    <li class="prl-10">
                        <i class="fa fa-phone mr-10 font-16"></i>1 (800) 233-2742 </li>
                    <li class="prl-10">
                        <i class="fa fa-envelope mr-10 font-16"></i>codastroid@gmail.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="social-icons list-inline font-16  t-xs-center t-md-right is-hidden-sm">
                    <li class="social-icons__item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icons__item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icons__item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="social-icons__item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="social-icons__item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
